APP_NAME=Laravel
APP_ENV=production
APP_KEY=  # <- SERÁ GERADO COM php artisan key:generate
APP_DEBUG=false
APP_TIMEZONE=America/Cuiaba
APP_URL=https://festeirosaobeneditocuiaba.com.br

APP_LOCALE=pt_BR
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=pt_BR

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=error

# CONFIGURAÇÕES DO BANCO
DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=u960655712_igreja
DB_USERNAME=u960655712_saobenedito
DB_PASSWORD=Amc565156564...

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=.festeirosaobeneditocuiaba.com.br

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=file
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.hostinger.com
MAIL_PORT=465
MAIL_USERNAME=contato@festeirosaobeneditocuiaba.com.br
MAIL_PASSWORD=  # <- Coloque a senha do seu email
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS="noreply@festeirosaobeneditocuiaba.com.br"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"
